<div class="col-md-8 offset-md-2 mb-4 border-bottom border-info">
  <h2 class="text-center">My Calendar</h2>
</div>
<div class="col-md-3 offset-md-8 mb-4">
  <a class="btn btn-lg btn-primary" routerLink="/events/add">New Event</a>
</div>
<div class="col-md-8 offset-md-2 mb-2">
  <div class="row border border-info rounded">
    <div class="col-md-4">
      <label for="type-filter"><b>Type:</b></label>
      <select class="m-2 form-select" id=type-filter [(ngModel)]="chosenType" (ngModelChange)="filter()">
        <optgroup label="Filter by type">
          <option *ngFor="let type of filterTypes" value="{{type}}">{{type}}</option>
        </optgroup>
      </select>
    </div>
    <div class="col-md-3 offset-md-1 form-group">
      <label for="start-filter"><b>From:</b></label>
      <input class="m-2 form-control" id="start-filter" type="time" [(ngModel)]="startTime" (ngModelChange)="filter()">
    </div>
    <div class="col-md-3 form-group">
      <label for="end-filter"><b>To:</b></label>
      <input class="m-2 form-control" id="end-filter" type="time" [(ngModel)]="endTime" (ngModelChange)="filter()">
    </div>
  </div>
</div>
<div class="col-md-8 offset-md-2">
  <div class="row mb-2 p-4 bg-info bg-opacity-10 border border-info rounded" *ngFor="let event of filteredEvents">
    <div class="col-4"><h5>{{event.title}}</h5></div>
    <div class="col-2">{{event.time}}</div>
    <div class="col-2">{{event.type}}</div>
    <div class="col-2">
      <a class="btn btn-outline-primary" routerLink="/events/{{event.id}}">&nbsp;Edit&nbsp;</a>
    </div>
    <div class="col-2">
      <button class="btn btn-outline-danger" (click)="delete(event.id)">Delete</button>
    </div>
  </div>
</div>
